[submodule "taskgen"]
	path = taskgen
	url = https://www.github.com/malsami/taskgen.git
	branch = master
[submodule "distributor_service"]
	path = distributor_service
	url = https://github.com/malsami/distributor_service.git
	branch = master
